Django
Jinja2
Markdown
MarkupSafe
Pillow
PyYAML
attrs
certifi
chardet
coreapi
coreschema
django-extra-fields
django-filter
djangorestframework
drf-yasg
idna
image
inflection
itypes
jsonschema
openapi
pip
pyrsistent
pytz
requests
ruamel.yaml
setuptools
six
sqlparse
uritemplate
urllib3