:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  button.initial {
    width: 90%;
    font-size: 4rem;
    height: 8rem;

    transition: width 1s ease, height 1s ease;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 5rem;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
      }
    }
  }

  button.initial:hover {
    width: 100%;
    height: 7rem;
  }
}

@media screen and (max-width: 952px) {
  button.initial {
    font-size: 2rem !important;

    mat-icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }
}

@media screen and (max-width: 552px) {
  button.initial {
    font-size: 1rem !important;

    mat-icon {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
    }

    span {
      overflow: hidden;
    }
  }
}
