<div class="list">
  <div *ngFor="let dep of deployments">
    <mat-card ngClass="mat-elevation-z2" (click)="edit(dep.id, dep.region)">
      <mat-card-header>
        <mat-icon mat-card-avatar class="cloud">cloud</mat-icon>
        <mat-card-title>{{dep.name}}</mat-card-title>
        <mat-card-subtitle>{{dep.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <a mat-flat-button [routerLink]="['/deploy-edition']" class="mat-elevation-z2" color="primary">
    <mat-icon>add</mat-icon>
    New drawployment
  </a>
</div>
